@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root{
    --black-color:  #091213;
    --yellow-color: #EFC518;
    --white-color:  #FEFCF3;
    --deep-black: #000000;
    --border-bottom: 1px solid #EFC518;
}
#photographerImg,#photographerInfo,
#portfolio,#brand,
#contact, #about,
footer{
    width: 100%;
    margin: auto;
}
/* Menu wrap */
.menu-wrap{
    height: 398px;
    background: var(--yellow-color);
    color: var(--deep-black);
    width: 100%;
}
.menu-wrap .desc{
    font-size: 15px !important;
    line-height: 15px !important;
    font-weight:300 !important;
}
.menu-wrap .navH a{
    font-size: 18px;
    line-height: 22px;
    color: var(--deep-black) !important;
    text-decoration: none;
}
/* Special */
#photographerInfo .btn-photo,
.load-more{
    width: 123px !important;
    height: 45px !important;
    color: var(--deep-black) !important;
    background: var(--yellow-color)  !important;
    font-size: 16px;
    line-height: 24px;
    border-radius: 8px !important;
}
.border-bottom{
    border-bottom: var(--border-bottom) !important;
}
.spec-p{
    font-size: 14px;
    line-height: 20px;
    opacity: 0.5;
    color: var(--white-color);
}
.spec-h3{
    font-size: 34px;
    line-height: 41px;
    color: var(--white-color);
}
html,body{
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif !important;
    scroll-behavior: smooth;
    background: var(--black-color);
}
header .navbar-brand{
    color: var(--yellow-color) !important;
    font-size: 18px;
}
header li{
    font-size: 14px !important;
    line-height: 17px !important;
}
header ul a{
    color: var(--white-color) !important;

}
header ul .active{
        border-bottom: 1px solid var(--blue-color) !important;
}
#photographerInfo{
    color: var(--white-color);
}
#photographerInfo h3{
    font-size: 20px;
    line-height: 28px;
}
#photographerInfo p{
    opacity: 0.5;
    font-size: 14px;
    line-height: 20px;
}
/* About Me */
#about #about-info{
    border: 1px solid var(--yellow-color) !important;
    border-left: none !important;
    font-size: 16px;
    line-height: 24px;
    color: var(--white-color);
}
/* Moments */
#moments .m-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* Contact */
#contact textarea{
    width: 100% !important;
    height: 130px !important;
    background: #182021 !important;
    border: 0.5px solid rgba(243, 104, 74, 0.08) !important;
    border-radius: 8px !important;
    margin: auto;
    resize: none;
    color: var(--white-color) !important;
}
#contact input,
#contact select{
    width: 100%;
    height: 40px;
    border: 0.5px solid rgba(243, 104, 74, 0.08) !important;
    border-radius: 8px !important;
    background: #182021 !important;
}
#contact input:focus{
    outline: none !important;
}
#contact .btn,
.btn-photo{
    width: 20% !important;
    height: 45px !important;
    color: var(--deep-black) !important;
    background: var(--yellow-color)  !important;
    font-size: 16px;
    line-height: 24px;
}

/* Footer */
footer{
    background: var(--yellow-color);
}


@media  only  screen and (max-width:767px){
    img{
        width: 75%;
    }
}

@media  only  screen and (max-width:576px){
    .small-nav{
        display: none ;
    }
    .menu-wrap{
        display: block !important;
        width: 100%;
        position: absolute;
        top:70px;
        left:0;
    }
    .nav-img img{
        width: 7% !important;
    }
    #contact .right-col img{
        width: 10%;
        margin-right: 4px !important;
    }
}
@media  only  screen and (max-width:426px){
    img{
        width: 75%;
    }
    
    .menu{
        width: 100%;
        position: absolute;
        top:70px;
        left:0;
    }
}